.ChatFrom{
    display: flex;
    overflow: hidden;
    height: 80px;
    width: 100%;
    padding: 0px 10px;
    background-color: #F0F2F5;
}

.ChatFrom__text{
    padding: 10px;
    height: 100%;
    width: 100%;
}

.ChatFrom__text textarea{
    border-radius: 5px;
    display: block;
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    background-color: white;
    
}

.ChatFrom__button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
}
.ChatFrom__button button{
    border-radius: 10px;
    padding: px 10px;
    cursor: pointer;
    transition: ease-out 0.1s;
}
.ChatFrom__button button:hover{
    background-color: rgb(211, 211, 211);
}

