.ChatHeader{
    display: flex;
    align-items: center;
    height: 50px;
    /* width: 100%; */
    background-color: #F0F2F5;
    padding: 0 20px;
}
.ChatHeader__number{
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #a7a7a7;
}

.ChatHeader button{
    margin-left: 20px;
}