*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


button{
  border: none;
  box-sizing: border-box;
}

input{
  all:unset;
  box-sizing: border-box;
}

textarea{
  all:unset;
  box-sizing: border-box;
}
textarea::placeholder {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}